
        body {
            background-color: #69a6e3ff;
        }

        .hero {
            background: url('https://images.unsplash.com/photo-1580281658629-e4f71fd10952?auto=format&fit=crop&w=1350&q=80') 
                        center/cover no-repeat;
            color: white;
            height: 70vh;
            display: flex;
            align-items: center;
            text-shadow: 1px 1px 2px #000;
        }

        .overlay {
            background: rgba(0,0,0,0.6);
            width: 100%;
            height: 100%;
            padding: 100px 50px;
        }

        .fitur-icon {
            font-size: 45px;
            color: #0d6efd;
        }

        .footer {
            background: #0d6efd;
            color: white;
            padding: 15px 0;
        }
    